

web/.settings/
web/.project
web/.classpath
.settings/
dao-api/.project
.project
dao-jdbc-impl/.classpath
dao-api/.classpath
service/.classpath
/.metadata/
dao-orm-impl/bin/src/main/java/com/itacademy/jd2/ikarotki/rwmanager/dao/orm/impl/CargoOrderDaoImpl.class
dao-orm-impl/bin/
*.classpath
